<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Ninja Blocks</title>

    <style>
      @font-face {
      font-family: 'Raleway';
      font-style: normal;
      font-weight: 700;
      src: local('Raleway Bold'), local('Raleway-Bold'), url(/css/JbtMzqLaYbbbCL9X6EvaI73hpw3pgy2gAi-Ip7WPMi0.woff) format('woff');
      }

      [ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
      display: none !important;
      }
    </style>

    <link rel="shortcut icon" type="image/x-icon" href="http://cdn.shopify.com/s/files/1/0201/1862/t/2/assets/favicon.png?1871">
    <link href="/css/bootstrap.css" rel="stylesheet">
    <link href="/css/animate.css" rel="stylesheet">
    <link href="/css/ninjablocks.css" rel="stylesheet">
  </head>

  <body>

    <div id="wrap">

      <div class="container" >
        <div class="navbar">
          <h3 class="text-muted"><img src="/img/logo.png"></h3>
        </div>


      <div class="row">
        <div class="col-lg-3">&nbsp;</div>
        <div class="col-lg-6">
          <h4 style="text-align: center" data-i18n="title.application-auth"></h4>

          <h3 style="text-align: center; text-transform: none">
            <%= client.name %> <span data-i18n="title.use-your-account"></span>
          </h3>

          <p></p>

          <div class="row" style="text-align: center">
            <div class="col-lg-1">&nbsp;</div>
            <div class="col-lg-3" style="border: 1px solid #000; width: 150px; height: 150px; margin: 30px; padding: 0;">
            <% if (client.image) { %>
              <img src="<%= client.image %>" width="148" height="148">
              <% } else { %>
              <img src="/img/appicon.png" width="148" height="148">
              <% } %>
            </div>
            <div class="col-lg-2" style="text-align: center; margin-top: 60px;">
              <span class="glyphicon glyphicon-arrow-right" style="font-size: 80px";></span>
            </div>
            <div class="col-lg-3" style="border: 1px solid #000; width: 150px; height: 150px; margin: 30px; padding: 0;">
              <% if (user && user.image) { %>
              <img src="<%= user.image %>" width="148" height="148">
              <% } else { %>
              <img src="/img/usericon.png" width="148" height="148">
              <% } %>
              <p style="margin-top: 10px;"><% if (user) { %><%= user.name %><% } %></p>
            </div>
          </div>

          <div class="row" style="text-align: center; margin-bottom: 40px;">
          	<div class="col-lg-1">&nbsp;</div>
            <form id="dialogForm" action="/dialog/authorize/decision" method="post">
	            <input name="transaction_id" type="hidden" value="<%= transactionID %>">

              <% if (!user) { %>
              <div style="height:85px" class="form-group">
              <h4 style="text-align: left" data-i18n="label.sign-in-allow-access"></h4>
              <input type="text" class="form-control" style="width: 80%; margin-left: 50px;" name="email" id="email" tab-index="2" data-i18n="[placeholder]placeholder.email">
              </div>
              <div style="height:85px" class="form-group">
              <input type="password" class="form-control" style="width: 80%; margin-left: 50px;" name="password" id="password" tab-index="3" data-i18n="[placeholder]placeholder.password">
              </div>
              <p id="msg-missing-fields" class="msg" style="display:none; color: red;" data-i18n="msg.missing-fields"></p>
              <p id="msg-user-not-found" class="msg" style="display:none; color: red;" data-i18n="msg.user-not-found"></p>
              <p id="msg-invalid-password" class="msg" style="display:none; color: red;" data-i18n="msg.invalid-password"></p>
              <p id="msg-signin-failed" class="msg" style="display:none; color: red;" data-i18n="msg.signin-failed"></p>
              <% } %>

	            <input type="submit" id="allow" class="btn btn-primary btn-inline" data-i18n="[value]btn.allow">
	  			    <input type="submit" name="cancel" id="deny" class="btn btn-primary btn-inline" data-i18n="[value]btn.deny">
            </form>
          </div>

          <div class="row" style="text-align: center; margin-top: 20px;">
            <% if (user) { %>
            <span class="not-your-acc"><span data-i18n="label.not-your-account"></span> <a href="/" data-i18n="link.signin-diff-user"></a></span>
            <% } else { %>
            <span class="not-your-acc"><span data-i18n="label.no-account"></span> <a href="/signup" data-i18n="link.signup-user"></a></span>
            <% } %>
          </div>
        </div>
        <div class="col-lg-3">&nbsp;</div>
      </div>

    </div> <!-- /container -->

    <footer>
      <div class="container" style="text-align:right;">
        <p>&copy; NinjaBlocks 2014</p>
      </div>
    </footer>

    </div> <!-- /wrap -->


    <script src="/bower_components/underscore/underscore-min.js"></script>
    <script src="/bower_components/jquery/jquery.min.js"></script>
    <script src="/bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
    <script src="/bower_components/angular/angular.min.js"></script>
    <script src="/bower_components/i18next/release/i18next-1.7.1.min.js"></script>

    <script><%- features %></script>
    <script src="/js/main.min.js"></script>

    <% if (!user) { %>
    <script>
      $(document).ready(function(){
        $('#allow').on('click', function(e) {
          $(".msg").each(function() {$(this).hide()});

          // this code prevents form from actually being submitted
          e.preventDefault();
          e.returnValue = false;
          var $form = $(this).closest('form');

          if ($('#email').val().length < 1 || $('#password').val().length < 1) {
            $("#msg-missing-fields").show();
          } else {
            var data = {email:$("#email").val(), password:$("#password").val()};
            $.ajax({
              type: 'post',
              url: "/auth/login",
              data: JSON.stringify(data),
              contentType: "application/json",
              dataType: "json",
              success: function(data) {
                $form.submit();
              },
              error: function(data) {
                var msg = "signin-failed";
                if (data.responseJSON && data.responseJSON.why) {
                  msg = data.responseJSON.why;
                }
                $("#msg-" + msg).show();
              }
            });
          }
        });
      });
    </script>
    <% } %>

  </body>
</html>
