<!DOCTYPE html>
<html lang="en">

  <%- include head.ejs %>

  <body ng-app="dialog" class="dialog" ng-controller="Main" ng-cloak>

    <header class="navbar navbar-inverse navbar-fixed-top" ng-controller="NavBar">
      <div class="container">
        <div class="navbar-header">
            <button class="navbar-toggle" type="button" data-toggle="collapse" id="menu-toggler">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="/"><img src="/css/theme/sphere/logo.png" alt="" width="200" /></a>
        </div>
        <div class="navbar-collapse collapse">
          <ul class="nav navbar-nav navbar-right">
            <li>
              <a data-toggle="dropdown">{{user.email}}</b></a>
            </li>
          </ul>
        </div><!--/.navbar-collapse -->
      </div>
    </header>



    <div id="wrap">

      <div class="container" >
        <div class="navbar">
          <h3 class="text-muted"><img src="<% if (theme.logo) { %><%= theme.logo %><% } else { %>/img/logo.png<% } %>"></h3>
        </div>


      <div class="row">
        <div class="col-lg-3">&nbsp;</div>
        <div class="col-lg-6">
          <h4 style="text-align: center" data-i18n="title.application-auth"></h4>

          <h3 style="text-align: center; text-transform: none">
            <%= client.name %> <span data-i18n="title.use-your-account"></span>
          </h3>

          <p></p>

          <div class="row auth-app" style="text-align: center">
            <div>
            <% if (client.image) { %>
              <img src="<%= client.image %>" width="148" height="148">
              <% } else { %>
              <img src="/img/appicon.png" width="148" height="148">
              <% } %>
            </div>
            <div ng-show="!(show_signin || show_signup)">
              <% if (user && user.image) { %>
              <img src="<%= user.image %>" width="148" height="148">
              <% } else { %>
              <img src="/img/usericon.png" width="148" height="148">
              <% } %>
              <p style="margin-bottom: 2em;"><strong><% if (user) { %><%= user.name %><% } %></strong></p>
            </div>
          </div>

          <div class="row" style="text-align: center; margin-bottom: 40px;">
            <form id="dialogForm" action="/dialog/authorize/decision" method="post">
              <input name="transaction_id" type="hidden" value="<%= transactionID %>">

              <div ng-show="show_signin">
                <div ng-class="{'form-group':true,mvp_seek_input:seek_email}">
                <h4 style="text-align: left" data-i18n="label.sign-in-allow-access"></h4>
                <input type="text" class="form-control" style="width: 80%; margin-left: 50px;" name="email" id="email" ng-model="email" tab-index="2" data-i18n="[placeholder]placeholder.email">
                </div>
                <div ng-class="{'form-group':true,mvp_seek_input:seek_password}">
                <input type="password" class="form-control" style="width: 80%; margin-left: 50px;" name="password" id="password" ng-model="password" tab-index="3" data-i18n="[placeholder]placeholder.password">
                </div>
                <p style="color: red;">{{msg | i18next}}</p>
              </div>

              <div ng-show="show_signup">
                <div ng-class="{'form-group':true,mvp_seek_input:seek_name}">
                <h4 style="text-align: left" data-i18n="label.sign-up-allow-access"></h4>
                <input type="text" class="form-control" style="width: 80%; margin-left: 50px;" name="name" id="name" ng-model="name" tab-index="2" data-i18n="[placeholder]placeholder.name">
                </div>
                <div ng-class="{'form-group':true,mvp_seek_input:seek_email}">
                <input type="text" class="form-control" style="width: 80%; margin-left: 50px;" name="email" id="email" ng-model="email" tab-index="3" data-i18n="[placeholder]placeholder.email">
                </div>
                <div ng-class="{'form-group':true,mvp_seek_input:seek_password}">
                <input type="password" class="form-control" style="width: 80%; margin-left: 50px;" name="password" id="password" ng-model="password" tab-index="4" data-i18n="[placeholder]placeholder.password">
                </div>
                <div ng-class="{'form-group':true,mvp_seek_input:seek_verifyPassword}">
                <input type="password" class="form-control" style="width: 80%; margin-left: 50px;" name="verifyPassword" id="verifyPassword" ng-model="verifyPassword" tab-index="5" data-i18n="[placeholder]placeholder.verify-password">
                </div>
                <p style="color: red;">{{msg | i18next}}</p>
              </div>

              <input type="submit" name="cancel" id="deny" class="btn btn-glow inverse" data-i18n="[value]btn.deny">
              <input type="submit" id="allow" class="btn btn-glow success" ng-click="btn_allow()" data-i18n="[value]btn.allow">
            </form>
          </div>

          <div class="row" style="text-align: center; margin-top: 20px;">
            <span class="not-your-acc" ng-show="!show_signin && !show_signup"><span data-i18n="label.not-your-account"></span> <a ng-click="btn_signin()" data-i18n="link.signin-diff-user"></a></span>
            <span class="not-your-acc" ng-show="show_signin"><span data-i18n="label.no-account"></span> <a ng-click="btn_signup()" data-i18n="link.signup-user"></a></span>
            <span class="not-your-acc" ng-show="show_signup"><span data-i18n="label.got-account"></span> <a ng-click="btn_signin()" data-i18n="link.signin"></a></span>
          </div>
        </div>
        <div class="col-lg-3">&nbsp;</div>
      </div>

    </div> <!-- /container -->

    <%- include footer.ejs %>

    </div> <!-- /wrap -->

    <%- include scripts.ejs %>

  </body>
</html>
